<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="utf-8">
    <meta property="og:url" content="https://fushime.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="スケアプ-予定がまいりまーす-" />
    <meta property="og:description" content="予定までの日にちをカウントダウンするwebサイトです。" />
    <meta property="og:site_name" content="スケアプ-予定がまいりまーす-" />
    <meta property="og:image" content="images/logo.png" />
    <title></title>
  </head>
  <body>
    <div>
      <img src= images/logo.png  alt="スケアプのロゴ" title="スケアプ">
      <form class="w-full max-w-sm" action='login' method='POST'>
        <div class="flex items-center border-b border-teal-500 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name='name' id='name' placeholder="input name" aria-label="Full name">
        </div>
        <div class="flex items-center border-b border-teal-500 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" name='password' id='password' placeholder="input passwword" aria-label="Full name">
        </div>
        <div class="flex items-center py-2">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="bg-red-100 border border-red-400 text-red-700 w-full px-4 py-2 m-2 rounded relative" role="alert">
                <strong class="font-bold">
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
                </strong>
              </div>
            {% else %}
              <div class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight"></div>
            {% endif %}
          {% endwith %}
          <button class="flex-shrink-0 bg-teal-600 hover:bg-teal-800 border-teal-600 hover:border-teal-800 text-sm border-4 text-white py-1 px-2 rounded" type='submit' name='submit'>
            Login
          </button>
        </div>
      </form>
      <p class="text-teal-700 text-opacity-100 text-4xl ...">スケアプとは</p>
      <p class="text-2xl ...">予定までの日にちをカウントダウンするwebサイトです。<br>
      予定の到着を電車の電光掲示板(発車標)のように表示させます。<br>
      冬休みまであと何日かを数えるのが大変だったので、分かりやすくなると良いと思い作成しました。<br> 
      </p>
      <button class="bg-teal-600 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded" >
        <a href='signup'>
          初回ログインの方はこちら
        </a>
      </button>
    </div>
  </body>
</html>