<html>
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

<div>
  <img src= images/logo.png  alt="xxx" title="xxx">
  <form class="w-full max-w-sm">
   
    <div class="flex items-center border-b border-teal-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="imput name" aria-label="Full name"><br>
    </div>

    <div class="flex items-center border-b border-teal-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="imput passwword" aria-label="Full name">
    </div>
    
    <div class="flex items-center py-2">
       <p class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight" ></p>
      <button class="flex-shrink-0 bg-teal-600 hover:bg-teal-800 border-teal-600 hover:border-teal-800 text-sm border-4 text-white py-1 px-2 rounded" type="button">
        Login
      </button>
    </div>
    
</div>

  </form>
  <p class="text-teal-700 text-opacity-100 text-4xl ...">スケアプとは</p>
  <p class="text-2xl ...">予定までの日にちをカウントダウンするwebサイトです。<br>
    予定の到着を電車の電光掲示板(発車標)のように表示させます。
    冬休みまであと何日かを数えるのが大変だったので、分かりやすくなると良いと思い作成しました。 
      </p>
  <button class="bg-teal-600 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded"href='signup'>
    初回ログインの方はこちら</button>
</div>
</body>

</html>
